body {
  background: url('/images/favicon/favicon/innndexhp.png');
  background-color: #a1a5a4; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-blend-mode: screen;
  background-attachment:fixed;
  overflow: hidden; /* Hide scrollbars */
  /* filter: brightness(120%) contrast(190%); */
}

::-webkit-scrollbar {
  display: none;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}


 
   button {
    left: 100px;
    margin-top: 50%;
    display: flex;
    width: 50px;
    height: 10px;
     position:fixed;
     /* filter: brightness(94%) contrast(94%); */
     padding: 1em 5em;
     background: #eaf3f1;
     border: none;
     border-radius: .5rem;
     color: #DAE1E1;
     cursor: pointer;
     transition: .2s ease-in-out;
     box-shadow: -6px -6px 14px rgba(211, 218, 218, .7),
                 -6px -6px 10px rgba(211, 218, 218, .5),
                 6px 6px 8px rgba(211, 218, 218, .075),
                 6px 6px 10px rgba(0, 0, 0, .15);
   }
   button:hover {
     box-shadow: -2px -2px 6px rgba(211, 218, 218, .6),
                 -2px -2px 4px rgba(211, 218, 218,  .4),
                 2px 2px 2px rgba(211, 218, 218, .05),
                 2px 2px 4px rgba(0, 0, 0, .1);
   }
   button:active {
     box-shadow: inset -2px -2px 6px rgba(211, 218, 218, .5),
                 inset 2px 2px 2px rgba(211, 218, 218, .075),
                 inset 2px 2px 4px rgba(0, 0, 0, .15);
   }
 