body {
    margin: 0;
    background-color: black;
    overflow-x: hidden;
    
}

#overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  
  #iframeContainer {
    position: fixed;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    pointer-events: auto; /* Allows clicks on the iframe */
    filter: drop-shadow(0 0 5px rgba(255,255,255, 1));
  }
  

.parent {
 
    margin-bottom: 13%;
    position: relative;
    z-index: -10;
    justify-content: center;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
}

.div1, .div2, .div3, .div4, .div5, .div6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 50vw;
    height: 50vh;
    filter: saturate(3);
}

.logo {
position: fixed;
  pointer-events: none;
  filter: drop-shadow(0 0 3px rgb(4, 22, 157));

 }


  
  
  
  
  .gif {
  position: fixed;
    width: 40vw;

    margin-bottom: 70vh;
    pointer-events: none;
    filter: drop-shadow(0 0 3px rgb(251, 0, 205)) invert(0) brightness(1);
    
  }
  .justframe {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    filter: invert(1) saturate(3) drop-shadow(0 0 5px rgb(3, 133, 226));

}

  .border1 {
    position: fixed;
    transform: rotate(180deg);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    mix-blend-mode: exclusion;
    filter: invert() drop-shadow(0 0 5px rgb(255, 1, 179)) contrast();
    
  }
  
  .border2 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: exclusion;
    filter: invert(0) drop-shadow(0 0 5px rgb(255, 255, 255)) contrast(100);
  }
  
 
  
 
  
  .bg {
    font-family: Cybernet;
    font-size: xx-small;
    justify-items: center;
    align-items: center;
    display: inline-grid;
    align-items: center;
    width: 100vw;
    height: 100vh;

  }
  