body {
    margin: 0;
    background-color: black;
}

.justframe {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: exclusion;
}

.parent {
    margin-top: 13%;
    margin-bottom: 13%;
    position: relative;
    z-index: 0;
    justify-content: center;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
}

.div1, .div2, .div3, .div4, .div5, .div6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 50vw;
    height: 50vh;
}
