



body {
  background-color: #fbfffe;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}





.gallery { 
  width: 100vw;
  height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    position: absolute;
    
}


.gallery iframe { 

 width: 22vw;
 height: 22vh;

  /* #1 */
 
  /* #2 */
  margin: 5px;
  background: hsl(0, 0%, 0%);
  /* #3 */
  outline: 5px solid hsl(0, 0%, 30%);
  /* #4 AND INFINITY!!! (CSS3 only) */
  box-shadow:
      0 0 0 10px hsl(0, 0%, 40%),
      0 0 0 15px hsl(0, 0%, 50%), 
      0 0 0 20px hsl(0, 0%, 60%),
      0 0 0 25px hsl(0, 0%, 70%), 
      0 0 0 30px hsl(0, 0%, 80%),
      0 0 0 35px hsl(0, 0%, 90%);
    border-radius: 1px;

    /* transition: 500ms; */
}


iframe {
  position: relative;
  width: 100vw;
  height: 100vh;
  
}