/* Container for the iframe */
body {
  text-align: center;

}



.iframe-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -100px;
  background-color: #D0D8D6;

}



@font-face {
font-family: Cybernet;
src: url(/font/Cybernet.ttf);
}

@font-face {
  font-family: BPdots;
  src: url(/font/BPdotsUnicasePlus.otf);
}

@font-face {
  font-family: BPbold;
  src: url(/font/BPdotsUnicasePlusBold.otf);
}
/* Styles for the iframe itself */
.centered-iframe {
  width: 400px;  /* Set the width */
  height: 500px; /* Set the height */
  border: none;  /* Remove the default border */
  background-color: #D0D8D6;
  mix-blend-mode:darken;

}

.textbox {
  top: -160px;
  position: relative;
}

html {
  background-color: #D0D8D6;
  font-size: 125%;
  display: flex;
  justify-content: center;
  font-family: BPdots;


}

.error-code {
  font-size: 14px;
  line-height: 20px;
  margin-top: 12px;
  text-transform: uppercase;
  font-family: BPdots;
  text-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;




}

h1 {
  color: var(--heading-color);
  font-size: 0.5em;
  line-height: 1.25em;
  margin-bottom: 16px;
  font-family: BPbold;
}
h2 {
  font-size: 1em;
  font-weight: normal;
  font-family: BPbold;
}



ul {
  font-size: 10px;
  font-family: monospace;
  line-height: 200%;
}

p {
  font-family: monospace;

}



a {
  color: var(--link-color);
  font-family: BPbold;
  text-decoration: none;
  font-size: small;
  outline-style: double;
  outline-color: #6d6d6d;
  padding: 5px;
}

  