




body ::before {
        background-image: url(1.png);
        background-size: cover;
        background-attachment: fixed;
        margin: 0px;
        background-repeat: no-repeat;
        background-position: center center;

}


